.view-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  justify-self: center;
  text-align: center;
}
.flex-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  /* padding: 20px; */
}
.bell {
  margin: 5px;
}
.view-main h5,
h4 {
  margin: 10px 0px;
}
