.flex-b h6 {
  padding-top: 10px;
}
.view-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  justify-self: center;
  text-align: center;
}
.view-main img {
  height: 70px;
  width: 170px;
  margin: 10px auto;
}

.bell {
  margin: 5px;
}
.view-main h5,
h4 {
  margin: 10px 0px;
}
/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .md {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .md {
    flex-direction: column;
  }
}

@media screen and (max-width: 360px) {
  .md-f {
    display: flex;
    flex-direction: column;
  }
}
