.taxSummary {
  overflow-x: auto;
}
.taxSummary th {
  background-color: #1a88e1;
  color: white;
}

.taxSummary td,
th {
  padding: 5px 0;
  border: 1px solid rgba(224, 224, 224, 1);
}

.taxSummary table {
  margin: 60px auto;
  margin-top: 0px !important;
  border-collapse: collapse;
}

.taxSummary table tbody tr td {
  padding-left: 40px;
}
.taxSummary table tr:nth-of-type(1) td {
  padding-left: 30px;
  font-weight: bold;
}
.taxSummary table tr:nth-of-type(6) td {
  padding-left: 40px;
  font-weight: bold;
}

.taxSummary table tr:nth-of-type(8) td {
  padding-left: 30px;
  font-weight: bold;
}
.taxSummary table tr:nth-of-type(9) td {
  padding-left: 30px;
  font-weight: bold;
}
.taxSummary table tr:nth-of-type(14) td {
  padding-left: 40px;
  font-weight: bold;
}
.taxSummary table tr:nth-of-type(21) td {
  padding-left: 40px;
  font-weight: bold;
}
.taxSummary table tr:nth-of-type(16) td {
  padding-left: 30px;
  font-weight: bold;
}

.taxSummary table tr:nth-of-type(21) td {
  padding-left: 40px;
  font-weight: bold;
}
.taxSummary table tr:nth-of-type(23) td {
  padding-left: 30px;
  font-weight: bold;
}
.taxSummary table tr:nth-of-type(28) td {
  padding-left: 40px;
  font-weight: bold;
}
.taxSummary table tr:nth-of-type(30) td {
  padding-left: 30px;
  font-weight: bold;
}
.taxSummary table tr:nth-of-type(36) td {
  padding-left: 40px;
  font-weight: bold;
}
.taxSummary table tr:nth-of-type(38) td {
  padding-left: 30px;
  font-weight: bold;
}
.taxSummary table tr:nth-of-type(39) td {
  padding-left: 30px;
  font-weight: bold;
}
.taxSummary table tr:nth-of-type(40) td {
  padding-left: 30px;
  font-weight: bold;
}
