.bankreconcilliation {
  overflow-x: auto;
}
.bankreconcilliation th {
  background-color: #1a88e1;
  color: white;
}

.bankreconcilliation td,
th {
  padding: 5px 0;
  border: 1px solid rgba(224, 224, 224, 1);
}

.bankreconcilliation table {
  margin: 60px auto;
  margin-top: 0px !important;
  border-collapse: collapse;
}

.bankreconcilliation table tbody tr td {
  padding-left: 40px;
}
