
.config_block input{
    outline: none !important;
    box-shadow: none!important;   
}

.config_block input:focus,
.config_block input:active {
  outline: none !important;
  box-shadow: none!important;
}

button{
    outline: none !important;
    box-shadow: none!important;   
}

button:focus,
button:active {
  outline: none !important;
  box-shadow: none!important;
}

